body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  /* margin: 0; */
  -webkit-font-smoothing: antialiased;
}

.parent {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

div {
  display: block;
}

.header1 {
  /* color: inherit !important; */
  font-size: 1em !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.title {
  overflow-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
}

h2 {
  display: block;
  /* font-size: 1.5em; */
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
}

#typeAndPlace {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  line-height: 1.33333em !important;
  text-transform: uppercase !important;
}

#placeName {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 1.375em !important;
  color: #484848 !important;
}

#rating{
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.places {
  /* margin-right: 8px;
  margin-left: 8px;
  width: 100%;
  height: 100%;
  white-space: nowrap !important; */
  width: 100% !important;
  height: 100% !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.places img {
  border-radius: 3px;
  width: 333px;
  height: 222px;
}